body {
  box-sizing: border-box;
  color: $dark;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 16px; // This is the base for REM
  line-height: 1.25rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

p {
  margin: 0;
  padding: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $gray-suit transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-suit;
    border-radius: 4px;
  }
}

.text {
  @include generateFontWeight();
  @include generateFontSize();
  @include generateLetterSpacing();
}

.color {
  &.is-txt {
    @include generateColor(color);
  }

  &.is-bg {
    @include generateColor(background);
  }
}

.text-center {
  text-align: center;
}

.main-layout {
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-height: 100vh;
  background: $gray-default;

  @media screen and (min-width: 640px) {
    width: $maxScreenWidth;
    margin: 0 auto;
    box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.20);
  }

  .page-container {
    margin-top: 56px;
    padding: 16px;
    overflow: auto;
    height: calc(100vh - 72px);
  }

  .header {
    $headerHeight: 56px;
    background: $jungle-green;
    height: $headerHeight;
    width: 100%;
    position: fixed;
    z-index: 98;
    box-shadow: 0 2px 4px 0 rgba($dark, 0.1);

    @media screen and (min-width: 640px) {
      width: $maxScreenWidth;
    }

    .wrapper {
      padding: 16px;
      display: flex;
      align-items: center;
      color: $white;
      @extend .text.is-size-hecto;
      @extend .text.is-weight-semi-bold;
    }
  }
}

@keyframes placeholderBackground{
  0% {
    background-position:-468px 0
  }
  100% {
    background-position:468px 0
  }
}

.loading {
  position: relative;
  min-width: 30px;
  min-height: 10px;
  z-index: 0;

  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: '';
    left:0;
    top:0;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeholderBackground;
    animation-name: placeholderBackground;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #DDDDDD), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #DDDDDD 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #DDDDDD 18%,#eeeeee 33%);
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
  }
}

.card {
  background-color: $white;
  box-shadow: 2px 2px 4px 0 rgba($dark, 0.1);
  border: none;
  color: $dark;
  height: initial;
  padding: 16px;
  overflow: hidden;
  border-radius: 8px;
}

.text-field {
  position: relative;
  box-shadow: 0;
  margin-top: 8px;
  -webkit-tap-highlight-color: transparent;
  width: 100%;

  &.disabled {
    cursor: no-drop;
  }

  .helper {
    display: inline-flex;
    color: $scarpa-flow;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    margin-top: 8px;

    &.error {
      color: $coral;
    }

    &.disabled {
      color: $gray-suit;
    }
  }

  &.error:not(.disabled) {
    input, textarea, .input {
      border: 1px solid $coral;
  
      &::placeholder {
        color: $mountain-mist;
      }
    }

    textarea {
      height: initial;
    }
  }

  input, textarea, .input {
    display: block;
    height: 48px;
    width: 100%;
    border: 1px solid $gray-suit;
    border-radius: 4px;
    background-color: $white;
    padding: 16px;
    margin: 0;
    color: $scarpa-flow;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;

    &[type="password"] {
      font-size: 28px;

      &::placeholder {
        font-size: 16px;
      }
    }

    &::placeholder {
      color: $mountain-mist;
      text-transform: none !important;
      letter-spacing: 0em !important;
    }

    &:focus {
      border-color: $jungle-green;
    }

    &:disabled {
      background-color: $whisper;
      border: 1px solid $gray-suit;
      color: $mountain-mist;
    }
  }

  textarea {
    resize: none;
    padding: 8px 16px;
    margin-bottom: 0;
    height: initial;
  }

  .label {
    display: block;
    color: $scarpa-flow;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: transparent;
    padding: 0;

    &.error {
      color: $coral;
    }
  }

  .left-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 24px;
    left: 12px;
    top: 12px;
    justify-content: center;
    display: flex;
    align-items: center;

    &.with-label {
      top: 32px;
    }

    &.disabled {
      color: $gray-suit;
    }

    &.with-click {
      cursor: pointer;
    }
  }

  .right-icon {
    @extend .left-icon;
    top: 18px;
    right: 12px;
    left: unset;
    width: 12px;
    height: 12px;
  }

  &.with-left-icon {
    input, textarea, .input {
      padding-left: 48px;
    }
  }
}

.home-page {
  .price-item {
    @extend .card;
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    padding: 12px 16px;
  }

  .empty-price {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $scarpa-flow;
  }
}

/*
  Function Generate
  This function must be at the last
 */

 @include generateSpacing(left, l);
 @include generateSpacing(right, r);
 @include generateSpacing(top, t);
 @include generateSpacing(bottom, b);
 @include generateWidth();